/*affichage sur pc(grand écran)*/
img{
  width: 50%;
}
/*affichage tablette(moyen écran)*/
@media screen AND (max-width: 992px){
  img{
    width: 75%;
  }
  body{
    background-color: blue;
  }
}
/*affichage mobile(petit écran)*/
@media screen AND (max-width: 992px){
  img{
    width: 100%;
  }
}
